/* import from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato&family=Roboto&family=Sofia&display=swap');

:root {
    --primary-color: #6cc551;
    --secondary-color: #4b7f52;
    --tertiary-color: #80c2af;

    --text-color: #2a2d34;
    --light-color: #f5f5f5;

    --roboto: "Roboto", sans-serif;
    --gugi: "Gugi", cursive;
    --sofia: "Sofia", cursive;
}

.primary-color {
    color: var(--primamry-color);
}

.bg-primary-color {
    color: var(--primamry-color) !important;
}

.text-color {
    color: var(--text-color);
}

.font-roboto {
    font-family: var(--roboto);
}

.lightgreen {
    color: lightgreen;
}

/* header */
header {
    background-color: var(--primary-color);
    font-family: var(--roboto);
}

header .site-title{
    font-family: var(--gugi);
}

.container .dropdown-toggle, .container .dropdown-item {
    font-size: 0.7em;
}

.header-links a {
    font-size: 0.9em;
    text-decoration: none;
    color: var(--light-color);
}

/* Navigation */
.navbar-nav {
    padding: 0.8em 0em;
}

.navbar-nav .nav-link{
    font-size: 0.9em;
    color: var(--text-color) !important;
}

.navbar-nav .nav-item .nav-link {
    padding: 0 1.3em;
}

.navbar-nav .basket-icon {
    margin-right: 6.5rem !important;
}

/* Container info */
.container-info {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: 100px 0 100px 0;
    background-color: var(--tertiary-color);
    opacity: 0.7;
}
 h3 {
    color: var(--light-color);
    text-shadow: black;
    padding-bottom: 20px;
 }

 p {
    color: black;
    font-family: var(--roboto);
 }

/* Figure Images */
.img-thumbnail {
    width: 300px;
    height: 300px;
}


/* Footer */
.container-footer {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
    background-color: var(--primary-color);

}
  
.footer {
    background-color: var(--primary-color);
}
  

/* Dropdown Menu */
.dropdown-menu {
    display: block;
    visibility: hidden;
    opacity:0;
    transform: translateY(50px);
    transition:.5s ease all;

}
.dropdown-menu.show {
    display: block;
    visibility: visible;
    opacity:1;
    transform: translateY(0px);
    transition:.5s ease all;
}

/* Carousel */
.carousel-inner img {
    width: 70%;
    height: 500px;
}